name: Generate ATT&CK Data

on:
  schedule:
    - cron: "0 3 1,15 * *"
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    steps:
    - uses: actions/checkout@v2.4.0
    - name: Set up Python Environment
      uses: actions/setup-python@v2.3.0
      with:
        python-version: 3.8
    - name: Upgrade pip
      run: |
        pip install --constraint=.github/workflows/constraints.txt pip
        pip --version
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install poetry
    - name: Generate ATTCK Data
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        poetry install
        poetry run python run.py
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        role-to-assume: arn:aws:iam::265337873895:role/pyattck
        aws-region: us-west-2
    - name: Upload files to S3 with AWS CLI
      run: |
        aws s3 cp generated_attck_data.json s3://${{ secrets.SWIMLANE_PYATTCK_AWS_BUCKET_NAME }} --acl public-read
        aws s3 cp generated_attck_data_v2.json s3://${{ secrets.SWIMLANE_PYATTCK_AWS_BUCKET_NAME }} --acl public-read
        aws s3 cp attck_to_nist_controls.json s3://${{ secrets.SWIMLANE_PYATTCK_AWS_BUCKET_NAME }} --acl public-read
        aws s3 cp merged_enterprise_attck_v1.json s3://${{ secrets.SWIMLANE_PYATTCK_AWS_BUCKET_NAME }} --acl public-read
        aws s3 cp merged_ics_attck_v1.json s3://${{ secrets.SWIMLANE_PYATTCK_AWS_BUCKET_NAME }} --acl public-read
        aws s3 cp merged_mobile_attck_v1.json s3://${{ secrets.SWIMLANE_PYATTCK_AWS_BUCKET_NAME }} --acl public-read
        aws s3 cp merged_pre_attck_v1.json s3://${{ secrets.SWIMLANE_PYATTCK_AWS_BUCKET_NAME }} --acl public-read
        aws s3 cp merged_nist_controls_v1.json s3://${{ secrets.SWIMLANE_PYATTCK_AWS_BUCKET_NAME }} --acl public-read
